# Ignoring Media files #
*.wav
*.png
# Ignoring Java Compiles #
*.class
# Package Files #
#*.jar Needed for libs #
#*.so                  #
*.war
*.ear
# Ignoring Eclipse files #
.metadata
.settings

# Ignoring Subversion #
.svn

# Ignoring Compiles and Examples #
musicalagents
bin

# Ignoring Documentation (Available in External Links) #
javadoc
