# Swap and Stuff #
*.~
*.out
*.swp
# Ignoring Media files #
*.wav
*.png
media/
# Ignoring Java Compiles #
*.class
# Package Files #
#*.jar Needed for libs #
#*.so                  #
*.war
*.ear
# Ignoring Eclipse files #
.metadata/
.settings/
# Ignoring Compiles and Examples #
musicalagents/
bin/
# Ignoring Documentation (Available in External Links) #
javadoc/
